In [65]:
import pandas as pd

morse = pd.read_csv('data/morse_lake_march_snotel.csv')
morse.head()

,Date PDT,Temp F,PcpAc in,∆Pcp in,SWE in,∆SWE in,SnoHt in,∆SnoHt in
0,Mar 31 23:00,28,54.7,0.4,47.0,1.0,125.0,14.0
1,Mar 31 22:00,28,54.6,0.3,46.9,0.8,123.0,12.0
2,Mar 31 21:00,28,54.5,0.2,46.7,0.6,121.0,10.0
3,Mar 31 20:00,28,54.5,0.2,46.7,0.6,119.0,7.0
4,Mar 31 19:00,29,54.5,0.2,46.6,0.5,117.0,5.0

### Graph Titles for Columns
- Temperature (F)
- Precipitation accumulation (in)
- 24hr Precipitation accumulated diff (in)
- Snow water equivalent (in)
- 24hr Show water equivalent diff (in)
- Snow depth (in)
- 24hr Snow depth diff (in)

In [66]:
# drop data I don't think is particularly useful 
morse = morse.drop(columns=['SWE in', 'SnoHt in', 'PcpAc in'])
morse.head()

       Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
0  Mar 31 23:00      28      0.4      1.0       14.0
1  Mar 31 22:00      28      0.3      0.8       12.0
2  Mar 31 21:00      28      0.2      0.6       10.0
3  Mar 31 20:00      28      0.2      0.6        7.0
4  Mar 31 19:00      29      0.2      0.5        5.0

In [67]:
morse.tail()

       Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
733  Mar 1 4:00      12      0.3      0.2        1.0
734  Mar 1 3:00      11      0.4      0.3        1.0
735  Mar 1 2:00      12      0.5      0.4        5.0
736  Mar 1 1:00      13      0.5      0.4        3.0
737  Mar 1 0:00      14      0.5      0.4        NaN

Try to get a specific day's worth of data

In [68]:
desired_row = morse[(morse == 'Mar 1 0:00').any(axis=1)]
desired_idx = desired_row.index[0]
desired_day = morse.iloc[desired_idx-23:desired_idx]
desired_day

        Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
714  Mar 1 23:00      22      0.0      0.2        NaN
715  Mar 1 22:00      22      0.1      0.2       -2.0
716  Mar 1 21:00      22      0.0      0.1        NaN
717  Mar 1 20:00      19      0.0      0.1       -3.0
718  Mar 1 19:00      19      0.0      0.1       -1.0
719  Mar 1 18:00      21      0.1      0.1       -1.0
720  Mar 1 17:00      23      0.0      0.1        NaN
721  Mar 1 16:00      25      0.1      0.1       -3.0
722  Mar 1 15:00      29      0.1      0.1       -3.0
723  Mar 1 14:00      28      0.1      0.0       -1.0
724  Mar 1 13:00      29      0.1      0.1        NaN
725  Mar 1 12:00      30      0.1      0.1       -1.0
726  Mar 1 11:00      24      0.0      0.1        NaN
727  Mar 1 10:00      22      0.0      0.1        NaN
728   Mar 1 9:00      17      0.1      0.0        NaN
729   Mar 1 8:00      12      0.1      0.0       -2.0
730   Mar 1 7:00      10      0.2      0.0        0.0
731   Mar 1 6:00      10      0.2      0.1        1.0
732   Mar 1 5:00       9      0.3      0.1        1.0
733   Mar 1 4:00      12      0.3      0.2        1.0
734   Mar 1 3:00      11      0.4      0.3        1.0
735   Mar 1 2:00      12      0.5      0.4        5.0
736   Mar 1 1:00      13      0.5      0.4        3.0

Here^ we see one way to get a day's worth of weather data

What if we were now to take this data and put it into one row of a dataframe, with the avalanche rating of the following day at the end?

In [69]:
# create a new dataframe: mar_1_weather_morse_lake
# for every row of og dataframe:
    # add columns to new dataframe: Temp 0:00, ∆Pcp in 0:00, ... , Temp 1:00, ∆Pcp in 1:00, ... , Temp 23:00, ∆Pcp in 23:00
# add danger rating as final column in dataframe

# repeat for various days and use as test training data??

Select specific area from danger ratings

In [70]:
danger = pd.read_csv('data/danger_ratings.csv')
danger.head()

           Date                 Area Danger Rating
0  Apr 16, 2023              Mt Hood     NO RATING
1  Apr 16, 2023    East Slopes South     NO RATING
2  Apr 16, 2023  East Slopes Central     NO RATING
3  Apr 16, 2023    East Slopes North     NO RATING
4  Apr 16, 2023      Snoqualmie Pass     NO RATING

In [71]:
target_area = 'West Slopes South'
danger = danger[(danger == target_area).any(axis=1)]
danger.head()

            Date               Area Danger Rating
6   Apr 16, 2023  West Slopes South     NO RATING
15  Apr 15, 2023  West Slopes South      MODERATE
27  Apr 14, 2023  West Slopes South           LOW
28  Apr 13, 2023  West Slopes South      MODERATE
43  Apr 12, 2023  West Slopes South      MODERATE

Get rid of days with no rating

In [72]:
no_rating = 'NO RATING'
danger = danger[danger['Danger Rating'] != no_rating]
danger.head()

            Date               Area Danger Rating
15  Apr 15, 2023  West Slopes South      MODERATE
27  Apr 14, 2023  West Slopes South           LOW
28  Apr 13, 2023  West Slopes South      MODERATE
43  Apr 12, 2023  West Slopes South      MODERATE
54  Apr 11, 2023  West Slopes South      MODERATE

In [73]:
danger.tail()

              Date               Area Danger Rating
1402  Nov 29, 2022  West Slopes South  CONSIDERABLE
1418  Nov 28, 2022  West Slopes South      MODERATE
1425  Nov 27, 2022  West Slopes South      MODERATE
1438  Nov 26, 2022  West Slopes South  CONSIDERABLE
1449  Nov 25, 2022  West Slopes South           LOW

Should see Nov 25 2022 - Apr 15 2023

Pseudocode:
- (Choose one month to make it simpler for now(?))
1. For every avalanche danger rating:
    1. Get its date
    1. Get the index of the snotel data on that date
    1. Get the past x days of snotel data before that date
    1. Aggregate that data
        1. Just average for now
    1. Put the aggregated data into a row in a dataframe
    1. Add the danger rating to that row

In [74]:
# start a few days into the month so we don't have to worry about missing data
march_danger = danger.iloc[15:46]
march_danger

             Date               Area Danger Rating
156  Mar 31, 2023  West Slopes South  CONSIDERABLE
165  Mar 30, 2023  West Slopes South      MODERATE
175  Mar 29, 2023  West Slopes South      MODERATE
185  Mar 28, 2023  West Slopes South      MODERATE
194  Mar 27, 2023  West Slopes South      MODERATE
204  Mar 26, 2023  West Slopes South      MODERATE
210  Mar 25, 2023  West Slopes South      MODERATE
220  Mar 24, 2023  West Slopes South  CONSIDERABLE
232  Mar 23, 2023  West Slopes South  CONSIDERABLE
242  Mar 22, 2023  West Slopes South      MODERATE
253  Mar 21, 2023  West Slopes South      MODERATE
254  Mar 20, 2023  West Slopes South      MODERATE
270  Mar 19, 2023  West Slopes South      MODERATE
281  Mar 18, 2023  West Slopes South      MODERATE
285  Mar 17, 2023  West Slopes South  CONSIDERABLE
302  Mar 16, 2023  West Slopes South      MODERATE
304  Mar 15, 2023  West Slopes South      MODERATE
320  Mar 14, 2023  West Slopes South      MODERATE
333  Mar 13, 2023  West Slopes South  CONSIDERABLE
341  Mar 12, 2023  West Slopes South  CONSIDERABLE
355  Mar 11, 2023  West Slopes South  CONSIDERABLE
361  Mar 10, 2023  West Slopes South  CONSIDERABLE
377   Mar 9, 2023  West Slopes South  CONSIDERABLE
385   Mar 8, 2023  West Slopes South      MODERATE
397   Mar 7, 2023  West Slopes South      MODERATE
407   Mar 6, 2023  West Slopes South      MODERATE
417   Mar 5, 2023  West Slopes South      MODERATE
428   Mar 4, 2023  West Slopes South  CONSIDERABLE
433   Mar 3, 2023  West Slopes South  CONSIDERABLE
450   Mar 2, 2023  West Slopes South  CONSIDERABLE
460   Mar 1, 2023  West Slopes South  CONSIDERABLE

This will give us a really bad training set because all the values are Moderate or Considerable. Deal with that later.

Iterate over rows

In [75]:
for idx, row in march_danger.iterrows():
    date_start = row['Date']


Get date from row

In [76]:
test_date = march_danger.iloc[0].Date
test_day = test_date.split(',')[0]
test_day = test_day + ' 0:00'
test_day

'Mar 31 0:00'

Get snotel data from previous days to a given date

In [77]:
day_idx = morse[(morse == 'Mar 4 0:00').any(axis=1)].index[0]
prev_day = morse.iloc[day_idx+1:day_idx+25]
prev_3_days = morse.iloc[day_idx+1:day_idx+1+24*3]
prev_3_days.head()

        Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
666  Mar 3 23:00      22      0.1      0.7        0.0
667  Mar 3 22:00      22      0.1      0.7        1.0
668  Mar 3 21:00      22      0.1      0.6        NaN
669  Mar 3 20:00      22      0.1      0.6        0.0
670  Mar 3 19:00      22      0.1      0.6        2.0

In [78]:
prev_3_days.tail()

       Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
733  Mar 1 4:00      12      0.3      0.2        1.0
734  Mar 1 3:00      11      0.4      0.3        1.0
735  Mar 1 2:00      12      0.5      0.4        5.0
736  Mar 1 1:00      13      0.5      0.4        3.0
737  Mar 1 0:00      14      0.5      0.4        NaN

For every date in danger ratings, get the index of that matching date @ 0:00 in snotel data

In [79]:
for idx, row in march_danger.iterrows():
    date_start = row['Date'].split(',')[0] + ' 0:00'
    idx = morse[(morse == date_start).any(axis=1)].index[0]
    print(morse.iloc[idx])

Date PDT     Mar 31 0:00
Temp F                26
∆Pcp in              0.0
∆SWE in             -0.2
∆SnoHt in           -3.0
Name: 23, dtype: object
Date PDT     Mar 30 0:00
Temp F                27
∆Pcp in              0.2
∆SWE in              0.1
∆SnoHt in            1.0
Name: 46, dtype: object
Date PDT     Mar 29 0:00
Temp F                29
∆Pcp in              0.1
∆SWE in              0.1
∆SnoHt in            1.0
Name: 69, dtype: object
Date PDT     Mar 28 0:00
Temp F                28
∆Pcp in              0.0
∆SWE in              0.2
∆SnoHt in            0.0
Name: 93, dtype: object
Date PDT     Mar 27 0:00
Temp F                15
∆Pcp in              0.2
∆SWE in             -0.1
∆SnoHt in           -2.0
Name: 117, dtype: object
Date PDT     Mar 26 0:00
Temp F                13
∆Pcp in              0.1
∆SWE in             -0.2
∆SnoHt in            0.0
Name: 141, dtype: object
Date PDT     Mar 25 0:00
Temp F                22
∆Pcp in              0.1
∆SWE in              0.0
∆SnoHt in           -2.0
Name: 165, dtype: object
Date PDT     Mar 24 0:00
Temp F                22
∆Pcp in              1.4
∆SWE in              0.4
∆SnoHt in            6.0
Name: 188, dtype: object
Date PDT     Mar 23 0:00
Temp F                32
∆Pcp in              0.0
∆SWE in              0.4
∆SnoHt in           -2.0
Name: 211, dtype: object
Date PDT     Mar 22 0:00
Temp F                25
∆Pcp in              0.2
∆SWE in              0.0
∆SnoHt in           -2.0
Name: 235, dtype: object
Date PDT     Mar 21 0:00
Temp F                30
∆Pcp in              0.3
∆SWE in              0.2
∆SnoHt in            4.0
Name: 259, dtype: object
Date PDT     Mar 20 0:00
Temp F                32
∆Pcp in              0.1
∆SWE in              0.3
∆SnoHt in           -3.0
Name: 283, dtype: object
Date PDT     Mar 19 0:00
Temp F                28
∆Pcp in              0.0
∆SWE in              0.5
∆SnoHt in           -3.0
Name: 307, dtype: object
Date PDT     Mar 18 0:00
Temp F                26
∆Pcp in              2.7
∆SWE in              0.1
∆SnoHt in           -2.0
Name: 331, dtype: object
Date PDT     Mar 17 0:00
Temp F                18
∆Pcp in              0.1
∆SWE in              0.0
∆SnoHt in           -3.0
Name: 354, dtype: object
Date PDT     Mar 16 0:00
Temp F                17
∆Pcp in              0.1
∆SWE in             -0.2
∆SnoHt in            1.0
Name: 378, dtype: object
Date PDT     Mar 15 0:00
Temp F                25
∆Pcp in              0.0
∆SWE in              0.0
∆SnoHt in           -5.0
Name: 402, dtype: object
Date PDT     Mar 14 0:00
Temp F                20
∆Pcp in              0.7
∆SWE in              1.0
∆SnoHt in            6.0
Name: 426, dtype: object
Date PDT     Mar 13 0:00
Temp F                33
∆Pcp in              0.1
∆SWE in              0.8
∆SnoHt in            6.0
Name: 450, dtype: object
Date PDT     Mar 12 0:00
Temp F                22
∆Pcp in              0.1
∆SWE in              0.1
∆SnoHt in           -3.0
Name: 473, dtype: object
Date PDT     Mar 11 0:00
Temp F                25
∆Pcp in              0.3
∆SWE in             -0.4
∆SnoHt in            2.0
Name: 497, dtype: object
Date PDT     Mar 10 0:00
Temp F                24
∆Pcp in              0.0
∆SWE in              0.6
∆SnoHt in            2.0
Name: 521, dtype: object
Date PDT     Mar 9 0:00
Temp F               17
∆Pcp in             0.1
∆SWE in             0.2
∆SnoHt in           2.0
Name: 545, dtype: object
Date PDT     Mar 8 0:00
Temp F               23
∆Pcp in             0.0
∆SWE in             0.2
∆SnoHt in          -4.0
Name: 569, dtype: object
Date PDT     Mar 7 0:00
Temp F               21
∆Pcp in             0.0
∆SWE in             0.2
∆SnoHt in          -2.0
Name: 593, dtype: object
Date PDT     Mar 6 0:00
Temp F               23
∆Pcp in             0.5
∆SWE in             0.2
∆SnoHt in           0.0
Name: 617, dtype: object
Date PDT     Mar 5 0:00
Temp F               18
∆Pcp in             0.1
∆SWE in             0.5
∆SnoHt in           4.0
Name: 641, dtype: object
Date PDT     Mar 4 0:00
Temp F               22
∆Pcp in             0.1
∆SWE in             0.8
∆SnoHt in           1.0
Name: 665, dtype: object
Date PDT     Mar 3 0:00
Temp F               19
∆Pcp in             0.1
∆SWE in             0.6
∆SnoHt in           4.0
Name: 689, dtype: object
Date PDT     Mar 2 0:00
Temp F               22
∆Pcp in             0.0
∆SWE in             0.2
∆SnoHt in           NaN
Name: 713, dtype: object
Date PDT     Mar 1 0:00
Temp F               14
∆Pcp in             0.5
∆SWE in             0.4
∆SnoHt in           NaN
Name: 737, dtype: object

For every date in danger ratings, get the previous 3 days of snotel data

In [80]:
# make sure we can get previous data because df only has one month
march_danger_cut = march_danger.iloc[:-3]

# just do a small sample set for now
march_danger_cut = march_danger_cut.iloc[5:7]

for idx, row in march_danger_cut.iterrows():
    date_start = row['Date'].split(',')[0] + ' 0:00'
    idx = morse[(morse == date_start).any(axis=1)].index[0]
    print(date_start)
    print(morse.iloc[idx+1:idx-1+24*3])

Mar 26 0:00
         Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
142  Mar 25 23:00      15      0.1     -0.1       -1.0
143  Mar 25 22:00      18      0.1     -0.1       -2.0
144  Mar 25 21:00      21      0.1     -0.1        1.0
145  Mar 25 20:00      23      0.0     -0.1        0.0
146  Mar 25 19:00      24      0.0     -0.1        1.0
..            ...     ...      ...      ...        ...
207   Mar 23 4:00      30      0.2      0.8        0.0
208   Mar 23 3:00      30      0.2      0.7        0.0
209   Mar 23 2:00      31      0.2      0.6        0.0
210   Mar 23 1:00      31      0.1      0.5       -2.0
211   Mar 23 0:00      32      0.0      0.4       -2.0

[70 rows x 5 columns]
Mar 25 0:00
         Date PDT  Temp F  ∆Pcp in  ∆SWE in  ∆SnoHt in
166  Mar 24 23:00      21      0.1     -0.1       -2.0
167  Mar 24 22:00      21      0.2     -0.1        0.0
168  Mar 24 21:00      23      0.2      0.0       -2.0
169  Mar 24 20:00      24      0.2     -0.1       -2.0
170  Mar 24 19:00      25      0.2      0.0       -1.0
..            ...     ...      ...      ...        ...
231   Mar 22 4:00      22      0.2     -0.1       -2.0
232   Mar 22 3:00      23      0.2     -0.1       -1.0
233   Mar 22 2:00      24      0.2      0.0       -2.0
234   Mar 22 1:00      24      0.2      0.0       -2.0
235   Mar 22 0:00      25      0.2      0.0       -2.0

[70 rows x 5 columns]

For every 3 days of data, aggregate it

In [101]:
# make sure we can get previous data because df only has one month
march_danger_cut = march_danger.iloc[:-3]

# initialize a dataframe for aggregated data
training_data = pd.DataFrame([], columns=morse.columns)
training_data['Danger Rating'] = None

for idx, row in march_danger_cut.iterrows():
    date = row['Date'].split(',')[0]
    date_start = row['Date'].split(',')[0] + ' 0:00'
    idx = morse[(morse == date_start).any(axis=1)].index[0]
    three_days_past = morse.iloc[idx+1:idx-1+24*3]
    # aggregate the data
    agg_past = three_days_past.drop('Date PDT', axis=1).mean()
    agg_past['Date PDT'] = date
    agg_past['Danger Rating'] = row['Danger Rating']
    # put it into the dataframe
    training_data.loc[-1] = agg_past
    training_data.index = training_data.index+1

# todo: validate to make sure I did this right
training_data

   Date PDT     Temp F   ∆Pcp in   ∆SWE in ∆SnoHt in Danger Rating
27   Mar 31  29.828571       0.1  0.085714  0.285714  CONSIDERABLE
26   Mar 30  27.742857  0.131429  0.102857       0.3      MODERATE
25   Mar 29  24.757143  0.104286  0.008571 -0.882353      MODERATE
24   Mar 28  22.285714  0.117143 -0.057143 -1.046154      MODERATE
23   Mar 27  22.242857  0.271429 -0.072857   0.03125      MODERATE
22   Mar 26  24.742857      0.48  0.251429  1.164179      MODERATE
21   Mar 25  27.728571  0.494286  0.245714  0.797101      MODERATE
20   Mar 24  30.357143      0.34      0.29 -0.102941  CONSIDERABLE
19   Mar 23  31.771429  0.204286  0.071429 -0.220588  CONSIDERABLE
18   Mar 22       32.5  0.171429  0.291429 -0.594203      MODERATE
17   Mar 21       32.8  0.597143  0.304286 -1.428571      MODERATE
16   Mar 20  30.871429  0.926471  0.261429 -2.642857      MODERATE
15   Mar 19  27.671429  0.980303  0.054286      -2.5      MODERATE
14   Mar 18  25.257143  0.430303 -0.082857 -1.814286      MODERATE
13   Mar 17  24.271429  0.144776  0.002857 -1.171429  CONSIDERABLE
12   Mar 16  26.357143  0.271014  0.462857  2.242857      MODERATE
11   Mar 15  26.657143  0.272857  0.647143       2.8      MODERATE
10   Mar 14  27.514286  0.215714  0.484286  2.514286      MODERATE
9    Mar 13  25.714286  0.135714  0.128571  0.728571  CONSIDERABLE
8    Mar 12  24.757143  0.131429  0.107143  0.637681  CONSIDERABLE
7    Mar 11  23.828571  0.084286      0.26  1.176471  CONSIDERABLE
6    Mar 10  23.371429  0.031429      0.21 -0.455882  CONSIDERABLE
5     Mar 9  24.128571  0.088571  0.245714 -0.735294  CONSIDERABLE
4     Mar 8  23.342857  0.184286  0.191429 -1.447761      MODERATE
3     Mar 7       22.8  0.218571  0.425714  1.212121      MODERATE
2     Mar 6       22.1  0.162857  0.521429  2.166667      MODERATE
1     Mar 5  23.057143  0.088571  0.665714  2.761194      MODERATE
0     Mar 4       22.1  0.094286  0.404286      0.75  CONSIDERABLE

Map danger ratings to numbers

In [102]:
danger_number = { 'NO RATING': 0, 'LOW': 1, 'MODERATE': 2, 'CONSIDERABLE': 3, 'HIGH': 4, 'EXTREME': 5 }

training_data['Danger Rating'] = training_data['Danger Rating'].map(danger_number)
training_data.head()

   Date PDT     Temp F   ∆Pcp in   ∆SWE in ∆SnoHt in  Danger Rating
27   Mar 31  29.828571       0.1  0.085714  0.285714              3
26   Mar 30  27.742857  0.131429  0.102857       0.3              2
25   Mar 29  24.757143  0.104286  0.008571 -0.882353              2
24   Mar 28  22.285714  0.117143 -0.057143 -1.046154              2
23   Mar 27  22.242857  0.271429 -0.072857   0.03125              2

That is pretty darn sweet! Now lets try doing some training.

Following [this](https://machinelearningknowledge.ai/random-forest-regression-in-python-sklearn-with-example/) example

In [103]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

# date isn't a number, and isn't relevant (yet)
training_data = training_data.drop('Date PDT', axis=1)

drop = 'Danger Rating'
x = training_data.drop(drop, axis=1)
y = training_data[drop]

x.head()

       Temp F   ∆Pcp in   ∆SWE in ∆SnoHt in
27  29.828571       0.1  0.085714  0.285714
26  27.742857  0.131429  0.102857       0.3
25  24.757143  0.104286  0.008571 -0.882353
24  22.285714  0.117143 -0.057143 -1.046154
23  22.242857  0.271429 -0.072857   0.03125

In [104]:
y.head()

27    3
26    2
25    2
24    2
23    2
Name: Danger Rating, dtype: int64

In [105]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

rf_regressor = RandomForestRegressor(random_state=0)

rf_regressor.fit(x_train, y_train)

y_pred_train = rf_regressor.predict(x_train)
r2_score(y_train, y_pred_train)

0.8520711538461538

In [106]:
y_pred = rf_regressor.predict(x_test)
r2_score(y_test, y_pred)

0.3043399999999996

Well...that's not a very high number but we'll get there