In [1]:
import pandas as pd
crySS = pd.read_csv('../old_data/seasonal_weather_crystal_summit.csv')
crySS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5647 entries, 0 to 5646
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date PDT  5647 non-null   object
 1   Temp F    5647 non-null   int64
 2   RH %      5647 non-null   int64
 3   Min mph   5647 non-null   int64
 4   Spd mph   5647 non-null   int64
 5   Gust mph  5647 non-null   int64
 6   Dir deg   5647 non-null   object
dtypes: int64(5), object(2)
memory usage: 308.9+ KB

In [2]:
crySS['Date PDT'] = pd.to_datetime(crySS['Date PDT'], format='%b %d %H:%M')
crySS.head()

             Date PDT  Temp F  RH %  Min mph  Spd mph  Gust mph Dir deg
0 1900-04-24 06:00:00      23    98        7       18        31       W
1 1900-04-24 05:00:00      23    98        6       19        30       W
2 1900-04-24 04:00:00      23    98        7       16        29       W
3 1900-04-24 03:00:00      23    98        4       12        21       W
4 1900-04-24 02:00:00      25    97        0        2         9      NW

In [3]:
crySS['Date PDT'] = crySS['Date PDT'].dt.strftime('%Y-%m-%d %X')
crySS.head()
crySS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5647 entries, 0 to 5646
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date PDT  5647 non-null   object
 1   Temp F    5647 non-null   int64
 2   RH %      5647 non-null   int64
 3   Min mph   5647 non-null   int64
 4   Spd mph   5647 non-null   int64
 5   Gust mph  5647 non-null   int64
 6   Dir deg   5647 non-null   object
dtypes: int64(5), object(2)
memory usage: 308.9+ KB

In [4]:
 crySS['Date PDT'] = crySS['Date PDT'].str.replace("1900","2023")
crySS.head()

              Date PDT  Temp F  RH %  Min mph  Spd mph  Gust mph Dir deg
0  2023-04-24 06:00:00      23    98        7       18        31       W
1  2023-04-24 05:00:00      23    98        6       19        30       W
2  2023-04-24 04:00:00      23    98        7       16        29       W
3  2023-04-24 03:00:00      23    98        4       12        21       W
4  2023-04-24 02:00:00      25    97        0        2         9      NW

In [5]:
crySS['Date PDT'] = pd.to_datetime(crySS['Date PDT']).dt.date

crySS.head()

,Date PDT,Temp F,RH %,Min mph,Spd mph,Gust mph,Dir deg,Date
0,2023-04-24 06:00:00,23,98,7,18,31,W,2023-04-24
1,2023-04-24 05:00:00,23,98,6,19,30,W,2023-04-24
2,2023-04-24 04:00:00,23,98,7,16,29,W,2023-04-24
3,2023-04-24 03:00:00,23,98,4,12,21,W,2023-04-24
4,2023-04-24 02:00:00,25,97,0,2,9,NW,2023-04-24